<div class="field" id="redactorAddAttributes-field">
	<div class="heading">
		<label for="redactorAddAttributes">JSON string of attributes to automatically add to tags</label>
		<div class="instructions">
			<p><strong>Example:</strong><br />
			[
			    { 
			    	"img": [
			    		{ "class": "img img-responsive" }
			    	]
			    }
			]</p>
		</div>
	</div>
	<div class="input">
		<textarea class="text nicetext fullwidth" name="redactorAddAttributes" id="redactorAddAttributes">{{ settings.redactorAddAttributes }}</textarea>
	</div>
</div>
